body{
    margin: 0px;
    padding: 0px;

}


nav{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
   }

.navbar{
   
    background-color: black;
    
}



.navbar a{
    background-color: #eaee86;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.8s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    }

.navbar .a:hover{
    background-color: #7e9e33;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

p{
    font-size: 25px;
    text-align: center;
    background-color: #eaee86;

}

P{
    font-size: 25px;
    text-align: center;
    background-color: #eeb386;
    
}

h1{
    text-align: center;
    
}